* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'StratosSkyeng', sans-serif;
    background-color: #0F0804;
}

/* HEADER */

.header {
    height: 100vh;
    background-image: url(images/13.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__overlay {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 80.49%, #0F0804 100%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header__title {
    margin: auto;
    font-size: 96px;
    text-align: center;
    color: white;
    max-width: 658px;
    font-weight: 400;
}

.header__link {
    height: 90px;
    width: 100%;
    background: rgba(255, 255, 255, 0.17);
    backdrop-filter: blur(11.5px);
}

.header__link:hover {
    opacity: .8;
}

.header__anchor {
    text-decoration: none;
    color: white;
    font-size: 24px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* GALLERY */

.gallery {
    list-style-type: none;
    margin: 173px auto;
    max-width: 1200px;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.gallery__item {
    position: relative;
    width: 280px;
    overflow: hidden;
    cursor: pointer;
}

.image {
    width: 100%;
    display: block;
}

/* Кнопки */

.card__actions {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    gap: 10px;
    z-index: 2;
}

.like,
.favorite {
    background: rgba(255, 255, 255, 0.85);
    padding: 6px 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.like:hover,
.favorite:hover {
    background: white;
    transform: scale(1.1);
}

/* Затемнение */

.card__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.card__text {
    color: white;
    font-size: 24px;
    opacity: 0;
    transition: 0.3s;
}

.gallery__item:hover .card__overlay {
    background: rgba(0, 0, 0, 0.6);
}

.gallery__item:hover .card__text {
    opacity: 1;
}

/* FOOTER */

.footer {
    height: 100vh;
    background-image: url(./images/7.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__overlay {
    display: flex;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #0F0804 0%, rgba(0, 0, 0, 0.6) 100%);
}

.footer__text {
    margin: auto;
    font-size: 40px;
    color: white;
}